<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583043618177-1ssth3q62gtnf9ncka7pe2vda2ojlj4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583043618177-1ssth3q62gtnf9ncka7pe2vda2ojlj4p</string>
	<key>API_KEY</key>
	<string>AIzaSyCLVIEyRcXDeRjAQRDQ8u5TE3ijfvmur_o</string>
	<key>GCM_SENDER_ID</key>
	<string>583043618177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>safaifirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>safaifirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583043618177:ios:34d797e411024ba36f4480</string>
</dict>
</plist>